@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@400;500;800&display=swap')
    
@import variables
@import base
@import cityproplist
@import maincitylist
@import submitbutton
@import deletebutton
@import input
@import showmorebutton
@import neighborcitylist

.main_view
    display: flex
    width: 100%
    height: 100%
    flex-direction: column
    align-items: center
    justify-content: center
    margin: 0
    
.main_view_header
    display: flex
    justify-content: center
    align-items: center
    margin: 0
    height: 80px
    width: 100%
